{% extends "templates/base.html" %} {% block content %}

<h1>Guests</h1>

<div class="container">
	<div class="row">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#add_new_guest" data-toggle="tab">Add
							new guest</a></li>
					<li class=""><a href="#2" data-toggle="tab">Section 2</a></li>
					<li class=""><a href="#3" data-toggle="tab">Section 3</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="add_new_guest">
						
					</div>
					<div class="tab-pane" id="2">
						<p>You are watching Section 2.</p>
					</div>
					<div class="tab-pane" id="3">
						<p>You are watching Section 3.</p>
					</div>
				</div>
			</div>
	</div>
</div>

{% endblock %}
